apiVersion: batch/v1
kind: Job
metadata:
  name: {{ template "ctlog.createctconfig.fullname" . }}
{{ include "ctlog.namespace" . | indent 2 }}
  labels:
    {{- include "ctlog.labels" . | nindent 4 }}
spec:
  backoffLimit: {{ .Values.createctconfig.backoffLimit }}
  template:
    spec:
      serviceAccountName: {{ template "ctlog.serviceAccountName.createctconfig" . }}
      restartPolicy: Never
      automountServiceAccountToken: {{ .Values.createctconfig.serviceAccount.mountToken }}
      containers:
        - name: {{ template "ctlog.createctconfig.fullname" . }}
          image: "{{ template "ctlog.image" .Values.createctconfig.image }}"
          imagePullPolicy: "{{ .Values.createctconfig.image.pullPolicy }}"
          args: [
            "--namespace=$(NAMESPACE)",
            "--configmap={{ template "ctlog.config" . }}",
            "--secret={{ template "ctlog.secret" . }}",
            "--fulcio-url={{ .Values.createctconfig.fulcioURL }}",
            "--trillian-server={{ .Values.trillian.logServer.name }}.{{ .Values.trillian.namespace }}:{{ .Values.trillian.logServer.portRPC}}",
            "--key-password-file=$("
          ]
          env:
            - name: NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
        {{- if .Values.createctconfig.pemPassSecret }}
          volumeMounts:
            - mountPath: "/var/createctconfig"
              name: pem-pass
              readOnly: true
        {{- end }}
    {{- if .Values.createctconfig.pemPassSecret }}
      volumes:
        - name: pem-pass
          secret:
            secretName: {{ .Values.createctconfig.pemPassSecret }}
    {{- end }}
    {{- if .Values.createctconfig.securityContext }}
      securityContext:
{{ toYaml .Values.createctconfig.securityContext | indent 8 }}
    {{- end }}
