forceNamespace: ""
imagePullSecrets: []
serviceAccountName: tuf
roleName: tuf
roleBindingName: tuf
fullnameOverride: tuf
enabled: true

deployment:
  name: tuf
  replicas: 1
  registry: ghcr.io
  repository: sigstore/scaffolding/server
  # v0.6.17
  version: sha256:496b443c82be2c4a14a6e3dfbfa9ccae5b6eaedd7a3aca58b84ddae9492d9906
  imagePullPolicy: IfNotPresent
  port: 8080
  tolerations: []
  nodeSelector: {}
  affinity: {}

secrets:
  rekor:
    create: false
    enabled: false
    name: rekor-public-key
    key: key
    path: rekor.pub
  fulcio:
    create: false
    enabled: false
    name: fulcio-server-secret
    key: cert
    path: fulcio_v1.crt.pem
  ctlog:
    create: false
    enabled: false
    name: ctlog-public-key
    key: public
    path: ctfe.pub
  tsa:
    create: false
    enabled: false
    name: tsa-cert-chain
    key: cert-chain
    path: tsa.certchain.pem

ingress:
  create: true
  name: tuf-server
  className: nginx
  annotations: {}
  http:
    hosts:
    - path: /
      host: "tuf.localhost"

service:
  name: tuf-server
  port: 80

namespace:
  create: false
  name: fulcio-system
