forceNamespace: ""
imagePullSecrets: []
serviceAccountName: tuf
roleName: tuf
roleBindingName: tuf
fullnameOverride: tuf
enabled: true

deployment:
  name: tuf
  replicas: 1
  registry: ghcr.io
  repository: sigstore/scaffolding/server
  # v0.7.31
  version: sha256:ae8eb69c7b7065456370c7025ff781487704352d73231b08d16b525b0cb16b54
  imagePullPolicy: IfNotPresent
  port: 8080
  resources: {}
  containerSecurityContext: {}
  securityContext: {}
  tolerations: []
  nodeSelector: {}
  affinity: {}
  volumes: []
  volumeMounts: []

secrets:
  rekor:
    create: false
    enabled: true
    name: rekor-public-key
    key: key
    path: rekor.pub
  fulcio:
    create: false
    enabled: true
    name: fulcio-server-secret
    key: cert
    path: fulcio_v1.crt.pem
  ctlog:
    create: false
    enabled: true
    name: ctlog-public-key
    key: public
    path: ctfe.pub
  tsa:
    create: false
    enabled: true
    name: tsa-cert-chain
    key: cert-chain
    path: tsa.certchain.pem

ingress:
  create: true
  name: tuf-server
  className: nginx
  annotations: {}
  http:
    hosts:
    - path: /
      host: "tuf.localhost"

service:
  name: tuf-server
  port: 80

namespace:
  create: false
  name: fulcio-system
