# Default values for rekor-tiles.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  flavor: gcp  # Must be gcp or posix
  registry: ghcr.io
  repository: sigstore/rekor-tiles
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  # crane digest ghcr.io/sigstore/rekor-tiles/gcp:v2.1.0
  version: v2.1.0
  gcpSHA: sha256:fc3f2e814c9c7a00064047cfaaa3a1b11f61aee1fd081308ddd8608c1f8bee38
  posixSHA: sha256:23dca2f666638fa61a9e4bc7dab1b524a616bdfe19fb9723e95b5c5000f724dc

namespace:
  create: false
  name: rekor-tiles-system

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Automatically mount a ServiceAccount's API credentials?
  automount: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

podAnnotations: {}
podLabels: {}

podSecurityContext: {}
  # fsGroup: 2000

securityContext:
  allowPrivilegeEscalation: false
  capabilities:
    drop:
    - ALL
  readOnlyRootFilesystem: true
  runAsNonRoot: true
  runAsUser: 65533

service:
  type: ClusterIP
  ports:
    - name: 3000-tcp
      port: 80
      protocol: TCP
      targetPort: 3000
    - name: 3001-tcp
      port: 3001
      protocol: TCP
      targetPort: 3001
    - name: metrics
      port: 2112
      protocol: TCP
      targetPort: 2112

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

livenessProbe:
  httpGet:
    path: /healthz
    port: 3000
readinessProbe:
  httpGet:
    path: /healthz
    port: 3000

terminationGracePeriodSeconds: 65
lifecycle:
  preStop:
    exec:
      command: ["sleep", "15"]

nodeSelector:
  iam.gke.io/gke-metadata-server-enabled: "true"   # support workload identity

tolerations: []

affinity: {}

neg:
  http:
    name: ""
    port: 80
  grpc:
    name: ""
    port: 3001

# Server arguments
server:
  antispam: {}
  tesseraLivecycle: {}
  gcp: {}
    # spanner: projects/{projectId}/instances/{instanceId}/databases/{databaseId}
    # bucket: rekor-tiles-bucket
  posix: {}
    # storageDir:
    #   path: /storage
    #   name: ctlog
    #   volume:
    #     hostPath:
    #       path: /data/rekor-tiles-storage
    #       type: Directory
  grpc:
    port: "3001"
  hostname: "localhost"
  http:
    port: "3000"
    metricsPort: "2112"
  serverConfig: {}
  readOnly: false
  grpcSvcTLS: {}
  signer: {}  # posix supports file, gcp supports file, kms, and tink
    # file:
    #   path: /pki/signer.pem
    #   withPassword: false
    #   secret:
    #     name: "signing-key"
    #     key: signing-key
    #     mountPath: /pki
    #     mountSubPath: signer.pem
    # kms:
    #   hash: sha256
    #   key: gcpkms://keyname
    # tink:
    #   kekURI: gcp-kms://keyname
    #   configMapName: tink-config
    #   keyset: ""
  witnessing: {}
    # configMapName: witness-config
    # witnessPolicy: ""
  extraArgs: []
