enabled: false
imagePullSecrets: []
namespace:
  name: trillian-system
  create: false
serviceAccount:
  name: trillian-logserver
  annotations: {}
  create: false
spec:
  replicaCount: 1
  image: ghcr.io/sigstore/scaffolding/updatetree:v0.6.10@sha256:e66fc875d401e8d971e2ab5db06134bed57de7e568fa00e6fcea3b775972ee65
ttlSecondsAfterFinished: 3600
securityContext:
  runAsNonRoot: true
  runAsUser: 65533
args:
  treeID: ""
   # -- valid tree states are ACTIVE, FROZEN and DRAINING
  treeState: ""
annotations: {}

# Configure Trillian dependency
trillian:
  namespace: trillian-system
  adminServer: ""
  logServer:
    name: trillian-logserver
    portRPC: 8091
