apiVersion: v2
name: fulcio
description: |
  Fulcio is a free code signing Certificate Authority, built to make short-lived certificates available to anyone.

type: application

version: 2.7.1
appVersion: 1.8.4

keywords:
  - security
  - pki

home: https://sigstore.dev/

maintainers:
  - name: The Sigstore Authors

dependencies:
  - name: ctlog
    version: 0.2.66
    repository: https://sigstore.github.io/helm-charts
    condition: ctlog.enabled

annotations:
  artifacthub.io/license: Apache-2.0
  artifacthub.io/images: |
    - name: fulcio
      image: ghcr.io/sigstore/fulcio:v1.8.4@sha256:10d853c73bb57ccd8746bccfaf0b29428d6d49b6b67dffad83a0d1ccb449abeb
    - name: createcerts
      image: ghcr.io/sigstore/scaffolding/createcerts:v0.7.31@sha256:7f59f7c08d1a82ac5fbd6d0f1f9082152dadc8d59022c52780eb3648f4b88112
