cosign:
  # add the values in base64 encoded
  cosignPub: ""
  webhookName: "policy.sigstore.dev"

imagePullSecrets: []

policywebhook:
  replicaCount: 1
  image:
    repository: ghcr.io/sigstore/policy-controller/policy-webhook
    # crane digest ghcr.io/sigstore/policy-controller/policy-webhook:v0.4.0
    version: sha256:03f6b9807103c988439741fdc2ec4410a85c13ba62fbad58448a070ac07bb5bc
    pullPolicy: IfNotPresent
  env: {}
  extraArgs: {}
  resources:
    limits:
      cpu: 100m
      memory: 256Mi
    requests:
      cpu: 100m
      memory: 128Mi
  serviceAccount:
    annotations: {}
  securityContext:
    enabled: false
    runAsUser: 65532
  podSecurityContext:
    enabled: true
    allowPrivilegeEscalation: false
    readOnlyRootFilesystem: true
    runAsNonRoot: true
    capabilities:
      drop:
        - ALL
  service:
    annotations: {}
    type: ClusterIP
    port: 443
  webhookNames:
    defaulting: "defaulting.clusterimagepolicy.sigstore.dev"
    validating: "validating.clusterimagepolicy.sigstore.dev"

webhook:
  replicaCount: 1
  name: webhook
  image:
    repository: ghcr.io/sigstore/policy-controller/policy-controller
    # crane digest ghcr.io/sigstore/policy-controller/policy-controller:v0.4.0
    version: sha256:2b1c017535f6a0f672ec38279f3792ca1181555342a2deae53605e202afb9764
    pullPolicy: IfNotPresent
  env: {}
  extraArgs: {}
  resources:
    limits:
      cpu: 100m
      memory: 256Mi
    requests:
      cpu: 100m
      memory: 128Mi
  securityContext:
    enabled: false
    runAsUser: 65532
  podSecurityContext:
    enabled: true
    allowPrivilegeEscalation: false
    readOnlyRootFilesystem: true
    runAsUser: 1000
    capabilities:
      drop:
        - ALL
  serviceAccount:
    annotations: {}
  service:
    annotations: {}
    type: ClusterIP
    port: 443
    # For nodeport, specify the following:
    #   type: NodePort
    #   nodePort: <port-number>

## common node selector for all the pods
commonNodeSelector: {}
#  key1: value1
#  key2: value2

## common tolerations for all the pods
commonTolerations: []
# - key: "key"
#   operator: "Equal"
#   value: "value"
#   effect: "NoSchedule"

## serviceMonitor makes policy controller metrics discoverable to prometheus
serviceMonitor:
  enabled: false
