apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "tuf.deployment.fullname" . }}
{{ include "tuf.namespace" . | indent 2 }}
{{- if .Values.deployment.annotations }}
  annotations:
    {{- toYaml .Values.deployment.annotations | nindent 4 }}
{{- end }}
  labels:
    {{- include "tuf.metaLabels" . | nindent 4 }}
    {{- include "tuf.matchLabels" . | nindent 4 }}

spec:
  replicas: {{ .Values.deployment.replicas }}
  selector:
    matchLabels:
      {{- include "tuf.matchLabels" . | nindent 6 }}

{{- if .Values.deployment.strategy }}
  strategy:
{{ toYaml .Values.deployment.strategy | trim | indent 4 }}
    {{ if eq .Values.deployment.strategy.type "Recreate" }}rollingUpdate: null{{ end }}
{{- end }}
  template:
    metadata:
      labels:
        {{- include "tuf.metaLabels" . | nindent 8 }}
        {{- include "tuf.matchLabels" . | nindent 8 }}
    spec:
      serviceAccountName: {{ .Values.serviceAccountName }}
      containers:
      - image: {{ template "tuf.image" .Values.deployment }}
        name: {{ .Values.deployment.name }}
        ports:
          - containerPort: {{ .Values.deployment.port }}
        env:
        - name: NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace

        volumeMounts:
          - name: tuf-secrets
            mountPath: "/var/run/tuf-secrets"
            readOnly: true
      volumes:
      - name: tuf-secrets
        projected:
          sources:
          {{- if or (.Values.secrets.ctlog.enabled) (.Values.secrets.ctlog.create) }}
          - secret:
              name: {{ .Values.secrets.ctlog.name }}
              items:
              - key: {{ .Values.secrets.ctlog.key }}
                path: {{ .Values.secrets.ctlog.path }}
          {{- end }}
          {{- if or (.Values.secrets.fulcio.enabled) (.Values.secrets.fulcio.create) }}
          - secret:
              name: {{ .Values.secrets.fulcio.name }}
              items:
              - key: {{ .Values.secrets.fulcio.key }}
                path: {{ .Values.secrets.fulcio.path }}
          {{- end }}
          {{- if or (.Values.secrets.rekor.enabled) (.Values.secrets.rekor.create) }}
          - secret:
              name: {{ .Values.secrets.rekor.name }}
              items:
              - key: {{ .Values.secrets.rekor.key }}
                path: {{ .Values.secrets.rekor.path }}
          {{- end }}
          {{- if or (.Values.secrets.tsa.enabled) (.Values.secrets.tsa.create) }}
          - secret:
              name: {{ .Values.secrets.tsa.name }}
              items:
              - key: {{ .Values.secrets.tsa.key }}
                path: {{ .Values.secrets.tsa.path }}
          {{- end }}
    {{- if .Values.imagePullSecrets }}
      imagePullSecrets:
{{ toYaml .Values.imagePullSecrets | indent 8 }}
    {{- end }}
    {{- if .Values.deployment.nodeSelector }}
      nodeSelector:
{{ toYaml .Values.deployment.nodeSelector | indent 8 }}
    {{- end }}
    {{- if .Values.deployment.tolerations }}
      tolerations:
{{ toYaml .Values.deployment.tolerations | indent 8 }}
    {{- end }}
    {{- if .Values.deployment.affinity }}
      affinity:
{{ toYaml .Values.deployment.affinity | indent 8 }}
    {{- end }}
