apiVersion: v2
name: scaffold
description: Scaffolding the components of the sigstore architecture

type: application

version: 0.6.62
keywords:
  - security
  - pki

home: https://sigstore.dev/

maintainers:
  - name: The Sigstore Authors

dependencies:
  - name: fulcio
    version: 2.5.4
    repository: https://sigstore.github.io/helm-charts
    condition: fulcio.enabled
  - name: rekor
    version: 1.4.8
    repository: https://sigstore.github.io/helm-charts
    condition: rekor.enabled
  - name: trillian
    version: 0.2.27
    repository: https://sigstore.github.io/helm-charts
    condition: trillian.enabled
  - name: ctlog
    version: 0.2.56
    repository: https://sigstore.github.io/helm-charts
    condition: ctlog.enabled
  - name: tuf
    version: 0.1.17
    repository: https://sigstore.github.io/helm-charts
    condition: tuf.enabled
  - name: tsa
    version: 1.0.5
    repository: https://sigstore.github.io/helm-charts
    condition: tsa.enabled

annotations:
  artifacthub.io/license: Apache-2.0
