name: Check Helm Docs

on:
  pull_request:

jobs:
  readme:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Get changed files
        uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: changes
        with:
          filters: |
            charts:
              - 'charts/**'

      - name: Run Helm Docs and check the outcome
        if: steps.changes.outputs.charts == 'true'
        run: |
          make docs
          exit_code=$(git diff --exit-code)
          exit ${exit_code}

      - name: Print a comment in case of failure
        if: failure() && github.event.pull_request.head.repo.full_name == github.repository && steps.changes.outputs.charts == 'true'
        run: |
          echo "The README.md files are not up to date.

          Please, run \"make docs\" before pushing."
          exit 1
