name: Check Helm Schema (policy-controller only)

on:
  pull_request:
    paths:
      - "charts/policy-controller/**"

jobs:
  schema:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: setup go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0

      - name: install helm-schema
        run: go install github.com/dadav/helm-schema/cmd/helm-schema@latest

      - name: test helm-schema
        run: helm-schema --version

      - name: Run Helm Schema and check the outcome
        run: |
          cd charts/policy-controller && helm-schema -k additionalProperties,required
          exit_code=$(git diff --exit-code)
          exit ${exit_code}

      - name: Print a comment in case of failure
        run: |
          echo "The policy controller values.schema.json is not up to date or has not been produced correctly

          Please, install https://github.com/dadav/helm-schema
          And run with flag -k additionalProperties,required before pushing 
          exit 1
        if: |
          failure() && github.event.pull_request.head.repo.full_name == github.repository
